<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hobbies">Hobbies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  </div>
</nav>